examples/node-red/ambientika-flow.json
[
  {
    "id": "ambientika-tab",
    "type": "tab",
    "label": "Ambientika",
    "disabled": false,
    "info": "Ambientika ventilation unit control via MQTT bridge.\nRequires: ambientika-mqtt-bridge running and connected to your MQTT broker.\nSee: https://github.com/ambientika-eu/ambientika-mqtt-bridge"
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-ambientika",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "comment-intro",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "Ambientika MQTT Bridge - Node-RED Flow",
    "info": "This flow connects to the Ambientika MQTT Bridge.\n\nPrerequisites:\n1. ambientika-mqtt-bridge is running (see README)\n2. MQTT broker is configured (default: localhost:1883)\n3. Update DEVICE_SERIAL below with your device serial number\n\nTopics:\n- Status: ambientika/{serial}/state\n- Commands: ambientika/{serial}/set/{property}\n\nEdit the mqtt-broker node to point to your broker.",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "mqtt-state-in",
    "type": "mqtt in",
    "z": "ambientika-tab",
    "name": "Device State",
    "topic": "ambientika/+/state",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["parse-state", "debug-state"]]
  },
  {
    "id": "parse-state",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Parse State",
    "func": "// Extract device serial from topic\nconst parts = msg.topic.split('/');\nconst serial = parts[1];\n\n// Store full state in flow context\nflow.set('device_' + serial, msg.payload);\nflow.set('last_serial', serial);\n\n// Set useful properties on msg\nmsg.serial = serial;\nmsg.state = msg.payload;\n\n// Create human-readable summary\nconst s = msg.payload;\nmsg.summary = {\n    serial: serial,\n    mode: s.operating_mode,\n    fan_speed: s.fan_speed,\n    humidity: s.humidity + ' %',\n    temp_supply: s.supply_air_temperature + ' °C',\n    temp_extract: s.extract_air_temperature + ' °C',\n    air_quality: s.air_quality,\n    filter_ok: !s.filter_alarm,\n    online: true\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 120,
    "wires": [["set-context", "dashboard-update"]]
  },
  {
    "id": "set-context",
    "type": "change",
    "z": "ambientika-tab",
    "name": "Store in Context",
    "rules": [
      {"t": "set", "p": "ambientika_state", "pt": "flow", "to": "payload", "tot": "msg"},
      {"t": "set", "p": "ambientika_serial", "pt": "flow", "to": "serial", "tot": "msg"}
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "dashboard-update",
    "type": "debug",
    "z": "ambientika-tab",
    "name": "State Summary",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "summary",
    "targetType": "msg",
    "statusType": "auto",
    "x": 530,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug-state",
    "type": "debug",
    "z": "ambientika-tab",
    "name": "Raw State (JSON)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusType": "auto",
    "x": 330,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment-status",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── STATUS MONITORING ──",
    "info": "",
    "x": 160,
    "y": 90,
    "wires": []
  },
  {
    "id": "comment-control",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── DEVICE CONTROL ──",
    "info": "",
    "x": 150,
    "y": 230,
    "wires": []
  },
  {
    "id": "inject-mode-auto",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Set Mode: Auto",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Auto",
    "payloadType": "str",
    "x": 140,
    "y": 280,
    "wires": [["set-mode"]]
  },
  {
    "id": "inject-mode-manual",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Set Mode: Manual",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "ManualHigh",
    "payloadType": "str",
    "x": 150,
    "y": 320,
    "wires": [["set-mode"]]
  },
  {
    "id": "inject-mode-night",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Set Mode: Night",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Night",
    "payloadType": "str",
    "x": 140,
    "y": 360,
    "wires": [["set-mode"]]
  },
  {
    "id": "inject-mode-off",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Set Mode: Off",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Standby",
    "payloadType": "str",
    "x": 130,
    "y": 400,
    "wires": [["set-mode"]]
  },
  {
    "id": "set-mode",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Build Mode Command",
    "func": "const serial = flow.get('ambientika_serial') || 'YOUR_SERIAL_HERE';\nmsg.topic = 'ambientika/' + serial + '/set/operating_mode';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 340,
    "wires": [["mqtt-cmd-out", "debug-cmd"]]
  },
  {
    "id": "comment-fan",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── FAN SPEED ──",
    "info": "",
    "x": 130,
    "y": 450,
    "wires": []
  },
  {
    "id": "inject-fan-low",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Fan Speed: Low",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Low",
    "payloadType": "str",
    "x": 140,
    "y": 490,
    "wires": [["set-fan-speed"]]
  },
  {
    "id": "inject-fan-medium",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Fan Speed: Medium",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Medium",
    "payloadType": "str",
    "x": 155,
    "y": 530,
    "wires": [["set-fan-speed"]]
  },
  {
    "id": "inject-fan-high",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Fan Speed: High",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "High",
    "payloadType": "str",
    "x": 140,
    "y": 570,
    "wires": [["set-fan-speed"]]
  },
  {
    "id": "set-fan-speed",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Build Fan Command",
    "func": "const serial = flow.get('ambientika_serial') || 'YOUR_SERIAL_HERE';\nmsg.topic = 'ambientika/' + serial + '/set/fan_speed';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 530,
    "wires": [["mqtt-cmd-out", "debug-cmd"]]
  },
  {
    "id": "comment-humidity",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── HUMIDITY SETPOINT ──",
    "info": "",
    "x": 160,
    "y": 620,
    "wires": []
  },
  {
    "id": "inject-humidity-60",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Humidity: 60%",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "x": 130,
    "y": 660,
    "wires": [["set-humidity"]]
  },
  {
    "id": "inject-humidity-70",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Humidity: 70%",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "70",
    "payloadType": "num",
    "x": 130,
    "y": 700,
    "wires": [["set-humidity"]]
  },
  {
    "id": "set-humidity",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Build Humidity Command",
    "func": "const serial = flow.get('ambientika_serial') || 'YOUR_SERIAL_HERE';\nmsg.topic = 'ambientika/' + serial + '/set/humidity_setpoint';\nmsg.payload = String(msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 680,
    "wires": [["mqtt-cmd-out", "debug-cmd"]]
  },
  {
    "id": "mqtt-cmd-out",
    "type": "mqtt out",
    "z": "ambientika-tab",
    "name": "Send Command",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 570,
    "y": 530,
    "wires": []
  },
  {
    "id": "debug-cmd",
    "type": "debug",
    "z": "ambientika-tab",
    "name": "Command Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusType": "auto",
    "x": 570,
    "y": 580,
    "wires": []
  },
  {
    "id": "comment-automation",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── AUTOMATION EXAMPLES ──",
    "info": "",
    "x": 170,
    "y": 760,
    "wires": []
  },
  {
    "id": "mqtt-humidity-watch",
    "type": "mqtt in",
    "z": "ambientika-tab",
    "name": "Watch Humidity",
    "topic": "ambientika/+/state",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 820,
    "wires": [["humidity-auto-logic"]]
  },
  {
    "id": "humidity-auto-logic",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Auto Boost on High Humidity",
    "func": "// Auto-boost ventilation when humidity > 75%\nconst humidity = msg.payload.humidity;\nconst serial = msg.topic.split('/')[1];\n\nif (humidity > 75) {\n    // High humidity: switch to ManualHigh\n    return {\n        topic: 'ambientika/' + serial + '/set/operating_mode',\n        payload: 'ManualHigh'\n    };\n} else if (humidity < 60) {\n    // Back to Auto when humidity is normal\n    return {\n        topic: 'ambientika/' + serial + '/set/operating_mode',\n        payload: 'Auto'\n    };\n}\n// No action needed\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 820,
    "wires": [["mqtt-cmd-out-auto", "debug-auto"]]
  },
  {
    "id": "mqtt-cmd-out-auto",
    "type": "mqtt out",
    "z": "ambientika-tab",
    "name": "Auto Command",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 590,
    "y": 800,
    "wires": []
  },
  {
    "id": "debug-auto",
    "type": "debug",
    "z": "ambientika-tab",
    "name": "Auto Action",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusType": "auto",
    "x": 580,
    "y": 840,
    "wires": []
  },
  {
    "id": "night-mode-schedule",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Night Mode at 22:00",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "0 22 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Night",
    "payloadType": "str",
    "x": 155,
    "y": 900,
    "wires": [["set-mode-schedule"]]
  },
  {
    "id": "day-mode-schedule",
    "type": "inject",
    "z": "ambientika-tab",
    "name": "Auto Mode at 07:00",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "0 7 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Auto",
    "payloadType": "str",
    "x": 150,
    "y": 940,
    "wires": [["set-mode-schedule"]]
  },
  {
    "id": "set-mode-schedule",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Schedule Mode Command",
    "func": "const serial = flow.get('ambientika_serial') || 'YOUR_SERIAL_HERE';\nmsg.topic = 'ambientika/' + serial + '/set/operating_mode';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 920,
    "wires": [["mqtt-cmd-out-schedule"]]
  },
  {
    "id": "mqtt-cmd-out-schedule",
    "type": "mqtt out",
    "z": "ambientika-tab",
    "name": "Scheduled Command",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 600,
    "y": 920,
    "wires": []
  },
  {
    "id": "comment-filter",
    "type": "comment",
    "z": "ambientika-tab",
    "name": "── FILTER ALARM NOTIFICATION ──",
    "info": "",
    "x": 180,
    "y": 980,
    "wires": []
  },
  {
    "id": "mqtt-filter-watch",
    "type": "mqtt in",
    "z": "ambientika-tab",
    "name": "Watch Filter Alarm",
    "topic": "ambientika/+/filter_alarm",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 1020,
    "wires": [["filter-alarm-check"]]
  },
  {
    "id": "filter-alarm-check",
    "type": "switch",
    "z": "ambientika-tab",
    "name": "Filter Alarm?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "true", "vt": "str"},
      {"t": "eq", "v": true, "vt": "bool"}
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 1020,
    "wires": [["notify-filter-alarm"], ["notify-filter-alarm"]]
  },
  {
    "id": "notify-filter-alarm",
    "type": "function",
    "z": "ambientika-tab",
    "name": "Build Filter Notification",
    "func": "const serial = msg.topic.split('/')[1];\nmsg.payload = {\n    title: 'Ambientika Filter Service',\n    message: 'Device ' + serial + ' requires filter maintenance. Please replace or clean the filter.',\n    priority: 'high'\n};\nmsg.topic = 'notifications/ambientika/filter';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 1020,
    "wires": [["debug-filter-notify"]]
  },
  {
    "id": "debug-filter-notify",
    "type": "debug",
    "z": "ambientika-tab",
    "name": "Filter Notification",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusType": "auto",
    "x": 570,
    "y": 1060,
    "wires": []
  }
]
